tr.logs-table-row {
  cursor: pointer;
}
tr.logs-table-row:hover {
  opacity: 0.7;
}
tr.drupalog-debug {
  background-color: #dff2bf;
}
tr.drupalog-debug td {
  color: #4f8a10 !important;
}
tr.drupalog-info {
  background-color: #bde5f8;
}
tr.drupalog-info td {
  color: #00529b !important;
}
tr.drupalog-notice {
  background: #fff8d6;
}
tr.drupalog-notice td {
  color: #fabb00 !important;
}
tr.drupalog-warning {
  background-color: #feefb3;
}
tr.drupalog-warning td {
  color: #9f6000 !important;
}
tr.drupalog-error {
  background-color: #ffbaba;
}
tr.drupalog-error td {
  color: #d8000c !important;
}
tr.drupalog-critical {
  background: #db0d11;
}
tr.drupalog-critical td {
  color: #2b2525;
}
input.pin-log {
  float: right;
  margin-top: 7px;
}
tr.pinned {
  border: 2px solid #0074bd !important;
}
div.form-item {
  display: inline;
}
.severity-hidden {
  display: none;
}
.type-hidden {
  display: none;
}
